{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ object.brand }} {{ object.model }} - {{ block.super }}{% endblock %}

{% block content %}


<a href="{% url 'cars' %}" class="back-link">‹ Voltar para a lista de carros</a>
<div class="detail-container">

    <div class="detail-image">
        {% if object.photo %}
        <img src="{{ object.photo.url }}" alt="{{ object.model }} - {{ object.brand }}">
        {% else %}
        <p style="color:red;">[Sem imagem cadastrada]</p>
        {% endif %}
    </div>

    <div class="detail-info">
        <h1>{{ object.brand }} {{ object.model }}</h1>

        <ul class="spec-list">
            <li>
                <span>Ano</span>
                <strong>{{ object.factory_year }} / {{ object.model_year }}</strong>
            </li>
            <li>
                <span>Valor</span>
                <strong>R$ {{ object.value|intcomma }}</strong>
            </li>
        </ul>

        <p class="detail-price">R$ {{ object.value|intcomma }}</p>

        {% if user.is_authenticated %}
        <div class="action-buttons">
            <a href="{% url 'car_uptade' pk=object.pk %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'car_delete' pk=object.pk %}" class="btn btn-danger">Excluir</a>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}