{% extends "base.html" %}

{% block title %}Cadastrar Carro - {{ block.super }}{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Cadastrar Novo Carro</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in new_car_form %}
            <div class="form-group">
                {{ field.errors }}
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn-submit">Cadastrar</button>
    </form>
</div>
{% endblock %}