{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AutoLuxo Multimarcas{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <div class="nav-container">
            <div class="logo">
                <a href="{% url 'cars' %}">
                    <img src="{% static 'images/image.png' %}" alt="Logo da AutoLuxo">
                    <h1>AutoLuxo</h1>
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'cars' %}">Carros</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'new_car' %}">Cadastrar Carro</a></li>
                    <li><a href="{% url 'logout' %}">Sair ({{ user.username }})</a></li>
                    {% else %}
                    <li><a href="{% url 'register' %}">Cadastre-se</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 AutoLuxo Multimarcas - Excelência Automotiva</p>
    </footer>
</body>

</html>